
.padding {
    padding: 0.5rem;
}

.margin {
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.btn {
    margin-left: 1rem;
    margin-right: 1rem;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.table-responsive {
    border: 1px solid #ccc;
    border-radius: 1rem;
}
.btn-naranja {
    background-color: #ff7300; /* Código de color para naranja */
    color: #fff; /* Texto en color blanco para mayor contraste */
    /* Agrega otros estilos según sea necesario */
  }
  
  .btn-naranja:hover {
    background-color: rgb(204, 99, 0); /* Cambia el color al pasar el ratón sobre el botón */
    /* Puedes ajustar el tono de naranja al pasar el ratón según tus preferencias */
  }