<section id="contact" class="contact  containerContact">
    <div class="container" data-aos="fade-up">
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Hola</h2>
                    <p>En caso de necesitar un usuario y/o alguna otro consulta, no dude en enviarnos un correo o
                        contactarse
                        por algun medio mensionado.</p>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="info-box">
                            <i class="fa fa-map-marker fa-lg"></i>
                            <p>Av. Siempre Viva 1234, Sprinfield, Buenos Aires</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="info-box mt-4">
                            <i class="fa fa-envelope fa-lg"></i>
                            <p>info@gsl.com<br>contact@gsl.com</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="info-box mt-4">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <p>+54 11121314 1516 <br>+54 11212224 2526</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ***************FORM******************** -->
            <div class="col-lg-6 container">
                <form [formGroup]="consultaForm" method="post" role="form" class="">
                    <div class="row">

                        <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
                            <input type="text" class="form-control" name="nombre" id="nombre"
                                placeholder="Ingrese nombre" formControlName="nombre" required>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
                            <input type="text" class="form-control" name="telefono" id="telefono"
                                placeholder="Ingrese un Telefono" formControlName="telefono" required>
                            <div *ngIf="telefonoInvalido">
                                <small class="text-danger">* Telefono de 8 o 10 numeros.</small>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
                            <input type="text" class="form-control" name="email" id="email" placeholder="Ingrese Correo"
                                formControlName="correo" required>
                            <div *ngIf="correoInvalido">
                                <small class="text-danger">* ingrese un correo valido.</small>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 mb-3 form-group ">
                            <select required class="form-select" id="PaqueteTipos"
                                aria-label="Floating label select example" formControlName="temaConsulta"
                                (ngModelChange)="verificarForm()">
                                <option value="" disabled>Seleccione Tipo</option>
                                <option *ngFor="let temaConsulta of temasConsulta | async" [value]="temaConsulta.tipo">
                                    {{ temaConsulta.tipo }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Ingrese mensaje" required
                            formControlName="mensaje" (change)="verificarForm()"></textarea>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary py-2 fs-6  me-2" type="button" (click)="enviarConsulta()"
                            [disabled]="!enviar">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>