<div class="container-fluid h-100 p-1">
  <div class="row justify-content-center h-100">

    <!-- **************************CONTACTOS************************************** -->
    
    <div class="col-md-4 col-xl-3 chat-wrapper {{usuarioSelect ? 'd-none d-lg-block' : ''}}" >
      <div class="card mb-sm-3 mb-md-0 contacts_card">
        <div class="card-header">
          <div class="input-group">
            <input type="text" placeholder="Search..." name="" class="form-control search" [(ngModel)]="filtro">
            <div class="input-group-prepend">
              <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
            </div>
          </div>
        </div>
        <div class="card-body contacts_body">
          <ul class="contacts">
            <li class="" *ngFor="let usuario of usuarios | async"
              (click)="seleccionarUsuario(usuario)" >
              <div class="d-flex bd-highlight" *ngIf="cumpleFiltro(usuario)" [id]="'contacto-' + usuario.id">
                <div class="img_cont ">
                  <img [src]="usuario.photoURL" height="50" class="rounded-circle user_img" alt="avatar">
                  <!-- <span class="online_icon"></span> -->
                </div>
                <div class="user_info" >
                  <span>{{usuario.nombre}} {{usuario.apellido}} </span>
                  <!-- <p>{{usuario.Nombre}} is online</p> -->
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>

    <!-- **************************CHATS************************************* -->

    <div class="col-md-8 col-xl-6 chat-wrapper" *ngIf="usuarioSelect" id="chatContainer">
      <div class="card chat-card">
        <div class="card-header msg_head">
          <div class="d-flex bd-highlight">
            <div class="img_cont">
              <img [src]="usuarioSelect.photoURL" class="rounded-circle" height="50" alt="avatar" class="rounded-circle user_img">
              <!-- <span class="online_icon"></span> -->
            </div>
            <div class="user_info">
              <span>{{usuarioSelect.apellido}} {{usuarioSelect.nombre}} </span>
              <p>1767 Messages</p>
            </div>
            <div class="video_cam">
              <span></span><span></span><span></span><span></span>
              <span></span><span></span><span></span><span></span>
              <span id="action_menu_btn" (click)="seleccionarUsuario('')">
                <i class="fas fa-arrow-left"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="card-body msg_card_body" >
          <div *ngFor="let mensaje of mensajesUsuarioSeleccionado; let i = index" >
            <div class="d-flex justify-content-{{mensaje.remitente === usuarioActual.id ? 'end' : 'start'}} mb-4">
              <!-- <div class="img_cont_msg">
                <img src="URL_DE_LA_IMAGEN_DEL_USUARIO" class="rounded-circle user_img_msg">
              </div> -->
              <div class="msg_cotainer{{mensaje.remitente === usuarioActual.id ? '_send' : ''}}">
                {{mensaje.texto}}
                <span class="msg_time{{mensaje.remitente === usuarioActual.id ? '_send' : ''}}">
                  {{mensaje.hora}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="input-group">
            <div class="input-group-append">
              <!-- <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span> -->
            </div>
            <textarea name="" class="form-control type_msg" placeholder="Escribe un mensaje..."
              [(ngModel)]="valor"></textarea>
            <div class="input-group-append">
              <span class="input-group-text send_btn" (click)="agregar()"><i class="fas fa-location-arrow"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
